<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>上传图片</title>
</head>
<body>
	<form action="http://wayshon.com:3000/api/upload" method="post" enctype="multipart/form-data" name="files">
		<input name="file" type="file" accept="image/png, image/jpeg"/>
		<input type="submit" value="提交" />
	</form>
</body>
</html>